<p>Hi <%= @character.tag %>, you have updated your profile!</p>

<p>
  If you did not make this change, <%= link_to "reset your password immediately here", edit_password_url(@character.password_padlock.key_reset_token) %>.

  This link will expire in <%= distance_of_time_in_words(0, @character.password_padlock.key_reset_token_expires_in) %>.
</p>
