<% content_for :settings_title, "Character Sheet" %>

<p style="color: green"><%= notice %></p>

<%= render "form", character: @character %>

<div>
  <%= button_to "Destroy this character", [:settings, @character], method: :delete %>
</div>
