<% content_for :settings_title, "Invitations" %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Invitations" %>

<%= button_to "New invitation", settings_invitations_path, class: "button", method: :post %>

<section id="settings_invitations">
  <div>
    <h2>Pending</h2>
    <div class="invitation-entries">
      <%=
        render partial: "settings/invitations/invitation",
               collection: @invitations.pending,
               as: :invitation,
               locals: { current_time: Time.current }
      %>
    </div>
  </div>
  <div>
    <h2>In use</h2>
    <div class="invitation-entries">
      <%=
        render partial: "settings/invitations/invitation",
               collection: @invitations.accepted,
               as: :invitation,
               locals: { current_time: Time.current }
      %>
    </div>
  </div>
</section>
