<% content_for :title, "New invitation" %>

<h1>New invitation</h1>

<%= render "form", invitation: @invitation %>

<br>

<div>
  <%= link_to "Back to invitations", settings_invitations_path %>
</div>
